footer {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 90vw;
    margin: auto;
    text-align: center;
    padding: 1rem;
    background: rgb(213, 213, 213);
    background: linear-gradient(90deg, rgba(213, 213, 213, 1) 0%, rgba(154, 154, 154, 1) 40%, rgba(106, 106, 106, 1) 100%);
}