$bgg: linear-gradient(90deg, rgba(213, 213, 213, 1) 0%, rgba(154, 154, 154, 1) 40%, rgba(106, 106, 106, 1) 100%);
$bi1:url(../media/12545-tecnologia.jpg);
$bi2:url(../media/2-tecnologia.jpg);
$bi3:url(../media/3-tecnologia.jpg);
$bi4:url(../media/4-tecnologia.jpg);
$bi5:url(../media/5-tecnologia.jpg);
$bggn:linear-gradient(90deg, rgba(213, 213, 213, 1) 0%, rgba(154, 154, 154, 1) 40%, rgba(106, 106, 106, 1) 100%);